.sum {
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgb(3, 13, 120);
  background: linear-gradient(
    333deg,
    rgba(3, 13, 120, 1) 0%,
    rgba(0, 0, 0, 1) 100%
  );
}

.navBar {
  display: flex;
}

.ListaDesordenada {
  display: flex;
  margin: 25px;
}

.ListaDesordenada li {
  list-style: none;
  margin: 0 1rem;
}

.ListaDesordenada li a {
  text-decoration: none;
  color: white;
  font-weight: bolder;
  font-size: 24px;
}

.Lista {
  display: flex;
  flex-direction: column;
  justify-content: start;
  width: 520px;
  min-height: 400px;
  background: #161a2b;
  text-align: center;
  margin: 128px auto;
  border-radius: 10px;
  padding-bottom: 32px;
}
